/* Стили popup в целом, так как display: none - без модификатора отображаться не будет*/
.popup {
  background:rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 2;
}