/* стили коробки в котрой находятся avatar и info */
.profile__box-avatar-info {
  display: flex;
  flex-direction: row; 
}

@media screen and (max-width: 920px) {
  .profile__box-avatar-info {
    flex-direction: column;
  }
}