/* общие стили для секции profile */
.profile {
  margin: auto;
  padding-top: 37px;  /* испарвлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
  padding-bottom: 52px; /* испарвлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}


@media screen and (max-width: 920px) {
  .profile {
    padding-top: 42px; /* испарвлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
    padding-bottom: 36px; /* испарвлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
    max-width: 282px;
    flex-direction: column;
  }
}