/* стили логотипа проекта */
.header__logo {
  object-fit: contain;  /* исправлено по замечанию ревьюера - "необходимо добавить свойство object-fit, чтобы сохранить пропорции исходного изображения при подстройке" */
  display: block;       /* исправлено по замечанию ревьюера - "чтобы убрать стандартные браузерные границы-отступы у <img> лучше добавить display в значении block" */
  width: 142px;
  height: 33px;  /* исправлено по замечанию ревьюера - "при таком минимальном значении логотип может увеличиваться в размерах до бесконечности; лучше зафиксировать в соответствии с макетом" */
}


@media screen and (max-width: 620px) {
  .header__logo {
    margin-left: 27px;
    max-width: 103.74px;
    height: 24.4px; /* исправлено по замечанию ревьюера - "при таком минимальном значении логотип может увеличиваться в размерах до бесконечности; лучше зафиксировать в соответствии с макетом" */
  }
}
