/* общие стили раздела - header */
.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7); /* исправлено по замечанию ревьюера - "значение цвета не соответствует макету, согласно макету должна быть прозрачность, ее лучше добавить через rgba, где последнее значение - значение прозрачности цвета" */
  margin: auto;
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 41px; /* исправлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
}

@media screen and (max-width: 920px) {
  .header{
    max-width: 581px;
    padding-top: 28px;
    padding-bottom: 31.6px;  /* исправлено по замечанию ревьюера - "лучше не указывать min-height, без него элемент займет по высоте место на странице в соответствии со своим контентом; вместо этого лучше задать соответствующие padding-и" */
  }
}

@media screen and (max-width: 620px) {
  .header{
    max-width: 320px;
  }
}
/* исправлено по замечанию ревьюера - "в медиазапросах должны быть указаны только уникальные свойства, 
есть дублирующие значения в padding-top и padding-bottom, необходимо оставить только в соответствующем медиазапросе" Дубли рующие значения в 620px - удалил. Как я промотрел это ! Ума не приложу!*/