/* стили подзаголовка в profile */
.profile__subtitle {
  margin: 10px 0 0 0;
  padding: 0;
  width: 366px;  /* испарвлено по замечанию ревьюера - "необходимо предусмотреть неизменность ширины элементов profile__title и profile__subtitle при любом количестве текста, 
  вставленном пользователем, элементы и страница не должны деформироваться и должны соответствовать макету" */
  line-height: 22px; /* испарвлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
  font-size: 18px;
  font-weight: 400;
  text-overflow: ellipsis; /* испарвлено по замечанию ревьюера - "лучше добавить значения для реализации переполнения блока с появляющимся многоточием в конце" */
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .profile__subtitle {
    margin: 8px 0 0 0;
    width: 282px;  /* испарвлено по замечанию ревьюера - "необходимо предусмотреть неизменность ширины элементов profile__title и profile__subtitle при любом количестве текста, 
    вставленном пользователем, элементы и страница не должны деформироваться и должны соответствовать макету" */
    line-height: 17px; /* испарвлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
    font-size: 14px;
    text-align: center;
  }
}