/* стили заголовка h1 внутри prifile -> profile__info -> profile__title-button */
.profile__title {
  margin: 0;
  margin-right: 18px;
  line-height: 48px;
  font-size: 42px;
  font-weight: 500;
  width: 294px; /* испарвлено по замечанию ревьюера - "необходимо предусмотреть неизменность ширины элементов profile__title и profile__subtitle при любом количестве текста, 
  вставленном пользователем, элементы и страница не должны деформироваться и должны соответствовать макету" */
  text-overflow: ellipsis; /* испарвлено по замечанию ревьюера - "лучше добавить значения для реализации переполнения блока с появляющимся многоточием в конце" */
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .profile__title {
    margin-right: 10px; /* расстояние от Жак_Ив Кусто до кнопки */
    margin-left: 45px;  /* испарвлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin */
    line-height: 33px; /* испарвлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
    font-size: 27px;
    text-align: center;
    width: 189px;  /* испарвлено по замечанию ревьюера - "необходимо предусмотреть неизменность ширины элементов profile__title и profile__subtitle при любом количестве текста, 
  вставленном пользователем, элементы и страница не должны деформироваться и должны соответствовать макету" */
  }
}