/* стили заголовка в popup контейнере */
.popup__header {
  margin: 0 64px 48px 36px; /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin" */
  color: #000;
  line-height: 29px; /* исправлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
}


@media screen and (max-width: 920px) {
  .popup__header {
    line-height: 22px; /* исправлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
    font-size: 18px;
    margin: 0 22px 75px; /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin" */
    }
}