/* стили копирайта */
.footer__copyright {
  margin: 0;
  color: #545454;
  line-height: 22px;  /* исправлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
  font-size: 18px;
  font-weight: 400;
  margin-top: 67px;   /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin, т.к. согласно методологии БЭМ необходимо стремиться к универсальности" */
  margin-bottom: 60px;  /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin, т.к. согласно методологии БЭМ необходимо стремиться к универсальности" */
}

@media screen and (max-width: 920px) {
  .footer__copyright {
    margin-top: 48px;   /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin, т.к. согласно методологии БЭМ необходимо стремиться к универсальности" */
    margin-bottom: 36px;  /* исправлено по замечанию ревьюера - "для позиционирования в родительском блоке лучше подходит margin, т.к. согласно методологии БЭМ необходимо стремиться к универсальности" */
    line-height: 17px;  /* исправлено по замечанию ревьюера - "значение не соответствует макету, необходимо скорректировать" */
    font-size: 14px;
  }
}