/* стили изображений внутри element */
.element__image {
  width: 282px; /* внесено по замечанию ревьюера - "необходимо зафиксировать размеры изображения, т.к. необходимо предусмотреть неизменность размеров изображения в соответствии с макетом вне зависимости от размера изображения, вставленного пользователем" */
  height: 282px; /* внесено по замечанию ревьюера - "необходимо зафиксировать размеры изображения, т.к. необходимо предусмотреть неизменность размеров изображения в соответствии с макетом вне зависимости от размера изображения, вставленного пользователем" */
  display: block; /* внесено по замечанию ревьюера - "чтобы убрать стандартные браузерные границы-отступы у <img> лучше добавить display в значении block" */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}