/* стили маленького подвала, состоящего из надписи и кнопки "сердечко" в каждом элементе */
.element__footer {
  background: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* устранил замечание ревьюера (итерация 2) min-height: 79px; - "некорректно исправлен предыдущий комментарий: 
для данного элемента можно не указывать min-height, без этого свойства он займет по высоте место на странице в соответствии со своим контентом; 
при недостаточности высоты для соответствия с макетом можно добавить соответствующие padding-и" Это свойство и значение здесь вообще не нужно - удалил!*/