/* стили маленького подвала, состоящего из надписи и кнопки "сердечко" в каждом элементе */
.element__footer {
  background: #fff;
  border-radius: 0 0 10px 10px;
  min-height: 79px;  /* исправлено по замечанию ревьюера - "лучше не задавать фиксированную высоту во избежание переполнения контентом" */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}