/* стили маленького подвала, состоящего из надписи и кнопки "сердечко" в каждом элементе */
.element__footer {
  /* border: 1px solid orangered; */
  background: #fff;
  border-radius: 0 0 10px 10px;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}