/* стили кнопки (крестик в правом верхнем углу), котрая закрывает контейнер */
/* наименование файла по замечанию ревьюера  исправлено popup__button-close */
.popup__button-close {
  background: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  position: absolute;
  width: 32px;
  height: 32px;
  border: none; /* исправлено по замечанию ревьюера - "обнуление стандартного border принято указывать в значении none, т.к. это стандартное значение для отстутствия границ" */
  padding: 0;
  top: -40px;
  right: -40px;
  transition: opacity 0.2s linear;
  cursor: pointer;  /* (НЕ УВЕРЕН, что правильно понял замечание) Исправлено по замечанию ревьюера - "для интерактивных элементов лучше явно указывать значение для cursor" */
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 920px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0; /* исправлено по замечанию ревьюера - "для нулевых значений можно не указывать единицы измерения, подробнее в стандартах" */
  }
}