/* стили элемента - коробки для аватара Жак-Ив Кусто */
.profile__box-avatar {
  /* border: 1px solid rgb(238, 130, 130); */
  width: 168.75px;
  height: 127.75px;
  display: flex;
  justify-content: center;
  margin-left: -22.5px;
  margin-right: 3.75px;
}


@media screen and (max-width: 1279px) {
  .profile__box-avatar {
    max-width: 282px;
    margin-top: -3.75px;
    margin-left: auto;
    margin-right: auto;
  }
}