/* стили кнопки с рисунком внутри */
.profile__edit-botton {
  width: 24px;
  height: 24px;
  margin-top: 15px;  /* блок отодвинут на 22px сверху и еще кнопка 15px - как раз 37px - как в Figma */
  background: url(../../../images/Edit-Button.svg);
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s;
}

.profile__edit-botton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .profile__edit-botton {
    margin-top: 8px;
    width: 15px;
    height: 15px;
  }
}
