/* стили текста внутри окон ввода формы */
.popup__text {
  border: none; /* исправлено по замечанию ревьюера - "обнуление стандартного border принято указывать в значении none, т.к. это стандартное значение для отстутствия границ" */
  margin: 0 0 30px 0;
  padding: 0 0 9px 0;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}